
body, html {
    overflow: hidden;
    height: 100%; 
    width: 100%;
    }
    
.container_criarGrupo{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #EFF6FF;
    width: 100%;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 1vh;
   
}

.texto h2{
    color:black;
    font-size:3.5vw;
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-top: 1vh;
    text-align: center;
    margin-left: -2vw ;
}

.conteudo{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
    align-items: center;
    max-width:500px ;
}


.formulario{
    max-width: 500px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.formulario button{
    font-size: 1.2rem;
    background-color: #3B82F6;
    color:white;
    height: 45px;
    width:80%;
    max-width: 200px;
    border-radius: 30px;
    border: none;
    font-family: "Poppins", serif;
    font-weight: 700;
    margin: 0;
    
}

.formulario p{
    margin: 0;
}

.formulario input{
    background-color: white;
    border:none;   
    font-size:1.2rem;
    font-family: "Poppins", serif;
    font-weight: 400;
    width: 100%;
    padding: 8px;
    height: 4.5vh;
    max-height: 50px;
    
}

.livroaberto input{
    background-size: 24px 24px;
    background-image: url(photos/Bookopen.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    text-indent: 40px;
    height: 6vh;
    width: 35vw;
    margin-bottom: 3vh;
}


.relogio input{
    
    background-size: 24px 24px;
    background-image: url(photos/Clock.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    text-indent: 20px;
    height: 6vh;
    width: 35vw;
    margin-bottom: 3vh;
}

.data input{
    background-size: 24px 24px;
    background-image: url(photos/Calendar.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    text-indent: 20px;
    height: 6vh;
    width: 35vw;
    margin-bottom: 3vh;
}


input[type="time"]::-webkit-calendar-picker-indicator{
    display:none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.local input{
    background-size: 24px 24px;
    background-image: url(photos/Home.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    text-indent: 40px;
    height: 6vh;
    width: 35vw;
    margin-bottom: 3vh;
}

.descricao input{
    background-size: 24px 24px;
    background-image: url(photos/Bookopen.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    text-indent: 40px;
    height: 6vh;
    width: 35vw;
    margin-bottom: 3vh;
}
