html,body{
    margin: 0;
    padding: 0;
}

.branco{
    background-color: white;
    width:62.5vw;
    height:58.5vh;
    display: flex;
    justify-content: center;
    align-items:center

}

.imagem{
    background-color: white;
    width:25.208vw;
    height: 38.889vh;
    margin-right: 40px;
    background: url('photos/foto.png') no-repeat center center;
    background-size: cover;
}

.conteudo{
    background-color:white;
    width: 26.146vw;
    height: 47.222vh;
}

.conteudo h1{
    color: #1E1E1E;
    font-size:1.25vw;
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 600;
    margin: 0;
}

.conteudo h2{
    color: #757575;
    font-size:1.042vw;
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 400;
    margin:1px;
    margin-bottom: 10px;
    margin-left:0px ;
}

.conteudo{
    color: #1E1E1E;
    font-size:0.781vw;
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 400;
}

.botoes button{
    font-size: 0.729vw;
    background-color: #3B82F6;
    color:white;
    height: 250px;
    height: 40px;
    margin-right: 15px;
    position: relative;
    align-items: center;
    border-radius: 30px;
    border: none;
    font-family: inherit;
}

.botoes{
    display: flex;
    justify-content: center;
}

