html,body{
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    background-color: #EFF6FF ;
}


.header{
    background-color: #1E3A8A;
    width:100%;
    height:13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header img[alt="icone"]{
    margin-right: 30px;
    width: 2.083vw;
}

.titulo{
    display: flex;
    gap: 5px;
    margin-left: 10px;
}


.header h1{
    color: white;
    font-size:2.083vw;
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}


.header h3{
    color: white;
    font-size:1.042vw;
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 400;
    margin:0px;
    margin-left:10px;
    display: flex;
}


.container{
    background-color: #EFF6FF ;
    width:100%; 
    height: calc(100vh - 123px) !important;
    display: flex;
    justify-content: center;
    align-items:center;
}


.branco{
    background-color: white;
    width:62.5vw;
    height:58.5vh;
    display: flex;
    padding: 5vh;
    flex-direction: column  ;
}

.branco h2,p{
    margin: 0;
}

.salas {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px; 
    padding: 20px; 
    width: 100%;
    box-sizing: border-box; 
}



.salas div {
    width: 100%; 
    height: 14vh; 
    padding: 10px;
    border: solid 1px rgba(15, 14, 14, 0.178);
    border-radius: 10px;
    background-color: white; 
    margin: 5px;
    margin-left:-20px;
}

.sala {
    height: 95px; /* Ajuste conforme necessário */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha o conteúdo mais para cima */
    align-items: flex-start;
}

.sala h3{
    margin-bottom: 2vh;
}

.sala p:first-of-type {
    margin-top: 0; /* Garante que o primeiro <p> não tenha o margin-top negativo */
}

.sala p{
    margin-top: -10px; /* Ajusta o texto para cima */
}
